/*-- scss:rules --*/

/* Shrink author names on title slide */
.reveal .quarto-title-authors {
  font-size: 0.6em;
}

.reveal .slide-logo {
  /* circular image */
  border-radius: 50%;

  /* resize image */
  max-height: 10vh !important;
}

/* hide slide number on title slide */
.reveal .slide-number > a[href="#/"] {
  display: none;
}
