---
name: Links

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  links:
    runs-on: ubuntu-slim
    timeout-minutes: 2
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/links@d8081a80ce0003b82fc662944c69bb61db85e518 # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
