---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/linting@ef8e8c4b69c12a799c90f4400a49ad1e9d3ee345 # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml
