---
name: Quarto Publish

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/github-pages/quarto@2900a170a05fafa6d18c036e488235ae8c02fa59 # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          requirements-txt: ${{ github.workspace }}/requirements.txt
